body{
	background-color: lightgray;
}

.som{
	text-align:right;
	margin-right: 160px;
}
.en{
	height: 20px;
	width: 20px;

}
.elite{
	display: inline-block;
}

.res{
	margin-left: 135px;
	display: inline-block;
}

.box{
	float:right;
	padding-right: 50px;
	display: inline-block;
	margin-right: 110px;
}

.py{
	margin-left: 30px;
	border-radius: 50px;
}

.def{
	margin-left: 150px;
	margin-right: 170px;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
}

.meu{
	margin:auto;
	margin-left: 100px;
	margin-top: 20px;
	
}


.spa{
	padding-top: 40px;
}

.xma{
	text-align: center;
	margin-top: 20px;
	margin-left: 80px;
	
	background-color: white;
}

.xyz{
	height: 120px;
	width: 120px;
	border-radius: 100%;
}

.win{
	text-align: center;
	border:1px solid white;
	margin-left: 50px;
	width: 200px;
	height: 250px;
	padding-top: 10px;
	background-color: white;
}

.yach{
	height: 120px;
	width: 120px;
}

.btn{
	background-color: red;
	color:white;
	
}

.grt{
	background-color: lightgreen;
	margin-top: -25px;
	height:450px;

}

.itc{
	margin-left: 100px;
	padding-top: 10px;
	width: 10%;
	font-size:50px;

}
.wek{
	padding-top:50px;
	margin-left:100px;
}

.shoe{
	margin-top:50px;
	width:400px;
	float: right;
	margin-right: 300px;
	height: 400px;
}

.avi{
	float: right;
}

.log{
	height: 40px;
	width: 40px;
}
.con{
	height: 30px;
	width: 30px;
	margin-left: 20px;
}

.env{
	border-radius: 50px;
}